.hero_container {
  a {
    text-decoration: unset;
  }

  .nav_container {
    a {
      color: #fff !important;
    }

    svg {
      color: #fff;
    }

    @media (max-width: 575px) {
      a {
        color: #000 !important;
      }
    }
  }

  position: relative;
  width: 100%;
  background-image: url(../../Assets/Images/services.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 620px;
  aspect-ratio: 16 / 9;

  @media (max-width: 500px) {
    max-height: unset;
    // height: 550px;
  }

  .bg_container {
    width: 100%;
    height: calc(100% - 122px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;

    h1 {
      font-size: 58px;
      text-align: center;

      @media (max-width: 700px) {
        font-size: 30px;
        margin-top: -99px;
      }
    }

    h5 {
      font-size: 24px;
      margin-bottom: 66px;
      font-weight: 100;
      text-align: center;

      @media (max-width: 700px) {
        font-size: 18px;
      }
    }
  }
}

.container {
  padding: 0px;
  padding-bottom: 32px;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  background-color: #fbfbfb;

  li {
    line-height: 1.6;
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0px;
    padding-bottom: 16px;
    // padding-top: 100px;
  }
}

// Section A
.A {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;

  // background-image: url(../../Assets/Images/services/hero.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 5.3125rem;
    line-height: 0.8;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // padding-right: 150px;
    color: #333;
  }
}

@media (max-width: 1350px) {
  .A {
    h1 {
      display: none;
    }
  }
}

@media (max-width: 567px) {
  .A {
    height: 350px;
  }
}

// Section C
.C {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 32px;
    margin-top: 32px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 700;
  }

  @media (max-width: 550px) {
    h1 {
      margin-top: 16px;
    }
  }

  .C_box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 32px;

    h3 {
      text-align: center;
      font-size: 22px;
      color: #707171;
      transition: 0.2s;
      margin: 0;
    }

    hr {
      width: 100%;
    }

    & > div {
      padding: 16px;
      border: 1px solid #eee;
      border-radius: 16px;
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      transition: 0.3s;
      cursor: pointer;
      background-color: #eee;

      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px;
        transform: scale(1.02);
      }

      &:hover h3 {
        color: #1a1a1a !important;
      }

      div:nth-child(1) {
        display: flex;
        align-items: center;
        height: 55px;
      }
    }

    img {
      width: 100%;
    }
  }
}

@media (max-width: 1050px) {
  .C_box {
    flex-wrap: wrap;
  }
}

@media (max-width: 890px) {
  .C_box {
    gap: 16px !important;

    & > div {
      width: calc(50% - 9px) !important;
    }
  }
}

// Section B
.B {
  // background: linear-gradient(#cba982 1%, #fbfbfb 40%);
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 700;
  }

  .B_box {
    display: flex;
    align-items: center;
    justify-content: center;

    div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      width: 50%;
      padding: 16px;

      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 32px;
      }

      h6 {
        font-size: 19px;
        font-weight: 500;
        color: #707171;
        line-height: 1.6;
      }

      img {
        width: 100%;
        animation: svg-motion 1.4s ease-in-out infinite alternate;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      font-size: 22px;
      font-weight: 500;
      color: #f1f1f1;
      background-color: #b6ac9a;
      border-radius: 64px;
      padding: 4px 25px;
      transition: 0.3s;
      width: fit-content;

      &:hover {
        color: #007bff;
        background-color: transparent;
      }
    }
  }
}

@keyframes svg-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-12px);
  }
}

@media (max-width: 900px) {
  .B {
    .B_box {
      flex-direction: column-reverse;

      div {
        width: 100%;

        h2 {
          font-size: 29px;
          margin-bottom: 16px;
        }
      }

      a {
        margin: auto;
        margin-top: 16px;
      }
    }
  }
}

// D section
.D {
  // background: linear-gradient(#cba982 1%, #fbfbfb 40%);
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 700;
  }

  .D_box {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    margin-bottom: 32px;
    margin-top: 32px;

    div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;

      iframe {
        aspect-ratio: 16 / 9;
        width: 100% !important;
      }
    }

    div {
      width: 50%;
      padding: 16px;

      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 32px;
      }

      h6 {
        font-size: 19px;
        font-weight: 500;
        color: #707171;
        line-height: 1.6;
      }

      img {
        width: 100%;
        animation: svg-motion 1.4s ease-in-out infinite alternate;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      font-size: 22px;
      font-weight: 500;
      color: #f1f1f1;
      background-color: #b6ac9a;
      border-radius: 64px;
      padding: 4px 25px;
      transition: 0.3s;
      width: fit-content;

      &:hover {
        color: #007bff;
        background-color: transparent;
      }
    }
  }
}

@keyframes svg-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-12px);
  }
}

@media (max-width: 900px) {
  .D {
    .D_box {
      flex-direction: column-reverse;

      div {
        width: 100%;

        h2 {
          font-size: 29px;
          margin-bottom: 16px;
        }
      }

      a {
        margin: auto;
        margin-top: 16px;
      }
    }
  }
}

// E section
.E {
  // background: linear-gradient(#cba982 1%, #fbfbfb 40%);
  padding-top: 84px;
  padding-left: 16px;
  padding-right: 16px;

  h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 700;
  }

  .E_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    div:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div {
      width: 50%;
      padding: 16px;

      h2 {
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 32px;
      }

      h6 {
        font-size: 19px;
        font-weight: 500;
        color: #707171;
        line-height: 1.6;
      }

      img {
        width: 100%;
        animation: svg-motion 1.4s ease-in-out infinite alternate;
      }
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 32px;
      font-size: 22px;
      font-weight: 500;
      color: #f1f1f1;
      background-color: #b6ac9a;
      border-radius: 64px;
      padding: 4px 25px;
      transition: 0.3s;
      width: fit-content;

      &:hover {
        color: #007bff;
        background-color: transparent;
      }
    }
  }
}

@keyframes svg-motion {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-12px);
  }
}

@media (max-width: 900px) {
  .E {
    .E_box {
      flex-direction: column-reverse;

      div {
        width: 100%;

        h2 {
          font-size: 29px;
          margin-bottom: 16px;
        }
      }

      a {
        margin: auto;
        margin-top: 16px;
      }
    }
  }
}
