.container {
  width: 100%;
  height: calc(100% - 122px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;

  h1 {
    font-size: 58px;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 30px;
      margin-top: -99px;
    }
  }

  h5 {
    font-size: 24px;
    margin-bottom: 66px;
    font-weight: 100;
    text-align: center;

    @media (max-width: 700px) {
      font-size: 18px;
    }
  }
}

.btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  a,
  button {
    font-size: 16px;
    padding: 9px 48px;
    color: #fff;
    border: none;
    background-color: #b99b5f;
  }

  :first-child {
    background-color: #23282e;
  }
}

//
.modal_box {
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
