.container {
  padding: 16px;
  padding-bottom: 48px;

  background-color: #23282e;

  h1 {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
    color: #b99b5f;
  }

  .subTitle {
    color: #cccccc;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 32px;

    @media (max-width: 650px) {
      width: 100%;
    }
  }
}

.box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  //   gap: 16px;

  @media (max-width: 650px) {
    width: 100%;
  }
}

.card {
  text-align: center;
  flex: 1 0 22%;
  margin: 10px;
  background-color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  aspect-ratio: 1 / 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-bottom: 1px solid #b99b5f;
  background-color: #181d21;

  @media (max-width: 650px) {
    flex: 1 0 29%;
  }

  h3 {
    margin-bottom: 6px;
    color: #fff;
    @media (max-width: 650px) {
      font-size: 16px;
    }
  }

  p {
    color: #b99b5f;
    margin: 0;

    @media (max-width: 650px) {
      font-size: 14px;
    }
  }

  img {
    width: 100%;
  }

  div:has(> img) {
    width: 100%;
  }
}

.text_box {
  padding: 16px;
}
