.container {
  // padding: 16px;
  margin-top: 32px;
  p {
    font-family: "Cairo", serif;
  }
}

// accordion
.accordion {
  padding: 32px;

  h1 {
    color: #000;
    margin-bottom: 32px;
    text-align: center;
    // font-size: 32px;
  }

  & > div div:nth-child(1) {
    border-radius: 16px;
    overflow: hidden;
    color: #000;
  }
}

@media (max-width: 550px) {
  .accordion {
    padding: 16px;
  }
}

.sub_title {
  padding: 16px;
  padding-right: 0;
}
