.container {
  padding: 16px;
  background-image: url(../Assets/Images/secSixBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  h1 {
    margin-top: 48px;
    margin-bottom: 0px;
    text-align: center;
  }

  h3,
  p {
    color: #111111;
  }

  .carousel {
    height: 350px;
    // background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 650px) {
      height: 250px;
    }
  }
}

.carousel_box {
  text-align: center;

  h3 {
    width: 75%;
    margin: auto;
    margin-bottom: 12px;

    @media (max-width: 650px) {
      font-size: 16px;
    }
  }

  p {
    margin: 0;
  }
}

.logos_container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  // gap: 32px;

  @media (max-width: 650px) {
    width: 100%;
  }

  div {
    width: 150px;

    @media (max-width: 650px) {
      width: 75px;
    }

    img {
      width: 100%;
    }
  }
}
